
@{
    ViewBag.Title = "BER";
}

<h2>Back End Repair Control</h2>
<div class="col-sm-12">
    <div class="col-sm-4">
        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitGSU" id="btnSubmitGSU" title="">
                <i class="el-wrench"></i>
                Generate User Unique Id
            </button>
        </div>

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPT" id="btnSubmitFPT" title="">
                <i class="el-wrench"></i>
                Fix Doctor Procedur TB
            </button>
        </div>
    </div>
    <div class="col-sm-4">

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPA" id="btnSubmitFPA" title="">
                <i class="el-wrench"></i>
                Fix Patient Attendance TB
            </button>
        </div>

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPP" id="btnSubmitFPP" title="">
                <i class="el-wrench"></i>
                Fix Patient PhyExam TB
            </button>
        </div>
    </div>
    <div class="col-sm-4">

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPPr" id="btnSubmitFPPr" title="">
                <i class="el-wrench"></i>
                Fix Patient Procedur TB
            </button>
        </div>

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPR" id="btnSubmitFPR" title="">
                <i class="el-wrench"></i>
                Fix Patient Rounds TB
            </button>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="col-sm-4">
        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFDRT" id="btnSubmitFDRT" title="">
                <i class="el-wrench"></i>
                Fix Doctor Rounds TB
            </button>
        </div>

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPPC" id="btnSubmitFPPC" title="">
                <i class="el-wrench"></i>
                Fix Patient P Complain TB
            </button>
        </div>
    </div>
    <div class="col-sm-4">

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPB" id="btnSubmitFPB" title="">
                <i class="el-wrench"></i>
                Fix Patient Biovitals TB
            </button>
        </div>

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPDT" id="btnSubmitFPDT" title="">
                <i class="el-wrench"></i>
                Fix Patient Delivery TB
            </button>
        </div>
    </div>
    <div class="col-sm-4">

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPDTB" id="btnSubmitFPDTB" title="">
                <i class="el-wrench"></i>
                Fix Patient Diagnosis TB
            </button>
        </div>

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPIT" id="btnSubmitFPIT" title="">
                <i class="el-wrench"></i>
                Fix Patient Investigation TB
            </button>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="col-sm-4">
        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPNN" id="btnSubmitFPNN" title="">
                <i class="el-wrench"></i>
                Fix Patient Nursenote TB
            </button>
        </div>

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPSR" id="btnSubmitFPSR" title="">
                <i class="el-wrench"></i>
                Fix Patient ScanReport TB
            </button>
        </div>
    </div>
    <div class="col-sm-4">

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPST" id="btnSubmitFPST" title="">
                <i class="el-wrench"></i>
                Fix Patient Surgery TB
            </button>
        </div>

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPTR" id="btnSubmitFPTR" title="">
                <i class="el-wrench"></i>
                Fix Patient TblRec TB
            </button>
        </div>
    </div>
    <div class="col-sm-4">

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPWT" id="btnSubmitFPWT" title="">
                <i class="el-wrench"></i>
                Fix Patient Ward TB
            </button>
        </div>

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFPAT" id="btnSubmitFPAT" title="">
                <i class="el-wrench"></i>
                Fix Patient Appointment TB
            </button>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="col-sm-4">
        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFDAT" id="btnSubmitFDAT" title="">
                <i class="el-wrench"></i>
                Fix Doctor Appointment TB
            </button>
        </div>

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFNNNT" id="btnSubmitFNNNT" title="">
                <i class="el-wrench"></i>
                Fix Nurse Nursenote TB
            </button>
        </div>
    </div>
    <div class="col-sm-4">

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFCUT" id="btnSubmitFCUT" title="">
                <i class="el-wrench"></i>
                Fix Complain User TB
            </button>
        </div>

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFACR" id="btnSubmitFACR" title="">
                <i class="el-wrench"></i>
                Fix Attendance Consulting Room TB
            </button>
        </div>
    </div>
    <div class="col-sm-4">

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFDDB" id="btnSubmitFDDB" title="">
                <i class="el-wrench"></i>
                Fix Diagnosis Diagnosed By
            </button>
        </div>

        <div>
            <button class="btn btn-block btn-black" type="submit" name="btnSubmitFDATT" id="btnSubmitFDATT" title="">
                <i class="el-wrench"></i>
                Fix Doctor Attendance TB
            </button>
        </div>
    </div>
</div>

<script src="~/Scripts/custom/backEndRepair.js"></script>