@model IEnumerable<Web.Models.ApplicationUser>

@{
    ViewBag.Title = "All Users";
}


@Html.Partial("_PartialPageWarning")
<script type="text/javascript">
        $(document).ready(
            function () {
                $("#txt1").html("List of all user credentials ");
                $("#txt2").html("(user authentication details)");
                $("#txtWarning").html("Users should only be created here under strict conditions, this implies manual steps to achieve a complete setup for the user type as the case may be - Teacher, Parent or Student !");
        });
</script>

<div class="row">
    
    <div class="col-md-12">
        <div class="col-md-12">
            <span class="text-info">@Html.ActionLink("Click here to create a new user", "Create")</span>
        </div>
        <div class="col-md-12" id="pageGrid">
            @(Html.Kendo().Grid<Repo.DTOs.dto_AspNetUser>()
                .Name("AppUsersGrid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.Id).Title("Select")
                        .ClientTemplate("<input name=\"selectedTchLogIds\" type=\"checkbox\" id=\"chbox\" value=\"#=Id#\" />")
                        .HeaderTemplate("<input type='checkbox' id='masterCheckBox'/>").Width(60)
                        .Sortable(false).Filterable(false);//.Locked().Lockable(false);

                    columns.Bound(c => c.user_id).Title("User ID").Width(80);
                    columns.Bound(c => c.UserName);
                    columns.Bound(c => c.Email);

                    columns.Bound(p => p.Id).Width(80).Title("").Sortable(false).Filterable(false)
                        .ClientTemplate("<a href='" + Url.Action("Details", "UsersAdmin") + "/#=Id#'>Details</a>");

                    columns.Bound(p => p.Id).Width(60).Title("").Sortable(false).Filterable(false)
                        .ClientTemplate("<a href='" + Url.Action("Edit", "UsersAdmin") + "/#=Id#'>Edit</a>");
                    
                    columns.Bound(p => p.Id).Width(100).Title("").Sortable(false).Filterable(false)
                        .ClientTemplate("<a href='" + Url.Action("ResetPassword", "UsersAdmin") + "/#=Id#'>Reset Pwd</a>");
                })
                .ColumnMenu()
                .HtmlAttributes(new { style = "height:580px;" })
                .Editable(editable => editable.Mode(GridEditMode.InCell))
                .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                .Scrollable()
                //.Groupable()
                .Sortable()
                        .Selectable(selectable => selectable
                    .Mode(GridSelectionMode.Single))

                .Resizable(r => r.Columns(true))

                .NoRecords("No users record found")
                .Navigatable()
                //.Excel(excel => excel
                //    .FileName("TeachersLoginList.xlsx")
                //    .Filterable(true)
                //    .AllPages(true)
                //    .ProxyURL(Url.Action("Excel_Export_Save", "Score"))
                //)
                .Pageable(pageable => pageable
                    .Refresh(true)
                    .PageSizes(new[] { 25, 50, 100 })
                    )
                .DataSource(dataSource => dataSource
                .Ajax()
                .ServerOperation(false)
                .Events(e =>
                {
                    e.Error("error_handler");
                })
                .Model(model =>
                {
                    model.Id(p => p.Id);
                    model.Field(f => f.Id).Editable(false);
                    model.Field(f => f.user_id).Editable(false);
                    model.Field(f => f.UserName).Editable(false);
                    model.Field(f => f.Email).Editable(false);
                })
                .Read(read => read.Action("Users_Read", "UsersAdmin"))
                )
            )
        </div>
    </div>
</div>

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>