
@{
    ViewBag.Title = "Accounts";
}

<script type="text/javascript">
    $(document).ready(
        function () {
            $("#txt1").html("Accounts");
            $("#txt2").html("(Do Patients Billing)");
            //$("#txtWarning").html("System failure imminent, carefully change COMPUTE TYPE & CLASS HIERARCHY under strict change request, and only when agreed and advised by the SCHOOL ADMINISTRATORS!");
        });
</script>


<div id="pageDP">
    <div class="col-md-4" id="pageGridPatient">

        @(Html.Kendo().Grid<Repo.Models.vwFlowQueueAttendance>()
                .Name("GridAcct")
                .NoRecords("No patient queued for billing found")
                .Columns(columns =>
                {
                    columns.Bound(c => c.AttCArdNumber).Title("");
                    columns.Bound(c => c.FirstName).Title("");
                    columns.ForeignKey(p => p.FQCurrentSTatus, (System.Collections.IEnumerable)ViewData["vstatus"], "Key", "Value")
                    .Title("");
                    columns.Bound(c => c.FQTimeStamp).Format("{0:dd/MM/yyyy hh:mm: tt}").Title("");
                    columns.Bound(c => c.FQLastUpdatedBy).Title("");
                })
                .ToolBar(toolbar =>
                {
                toolbar.Template(@<text>
            <div class="row">
                <div class="col-sm-4 col-md-6 toolbar">
                    @(Html.Kendo().Button()
                        .Name("iconButton")
                        .Tag("a")
                        .Icon("refresh")
                        .Content("End Patient's Visit")
                        .Events(e => e.Click("csonClick"))
                        //.Content("<span class='fa-share' title='Click to run process'>Send to Consulting</span>")

                    )
                </div>
            </div>
                </text>);
                })
                .Resizable(r => r.Columns(true))
                .Scrollable(sc => sc.Endless(true))
                .Sortable()
                .Selectable(selectable => selectable
                .Mode(GridSelectionMode.Single))
                .Mobile(MobileMode.Auto)
                .Pageable(p => p.Numeric(false)
                    .PreviousNext(false)
                    .Refresh(true)
                )
                .Events(ev => ev.Change("onChange"))
                .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(false)
                .ServerOperation(false)
                .PageSize(50)
                .Events(e =>
                {
                    e.Error("error_handler");
                })
                .Model(model =>
                {
                    model.Id(p => p.FQID);
                })
                .Read(read => read.Action("Read_GetAccountsFlowQueues", "ProcessFlow"))
                )
        )
    </div>
    <div class="col-md-8" id="scoreList">
        
    </div>

</div>

@Html.Partial("~/Views/Shared/_PartialProgressBar.cshtml")

<script src="~/Scripts/appjs/accounts.js"></script>
<script src="~/Scripts/custom/progressBar.js"></script>

