
@{
    ViewBag.Title = "Lab";
}

<script type="text/javascript">
    $(document).ready(
        function () {
            $("#txt1").html("LAB");
            $("#txt2").html("(Conduct lab test for Patients)");
            //$("#txtWarning").html("System failure imminent, carefully change COMPUTE TYPE & CLASS HIERARCHY under strict change request, and only when agreed and advised by the SCHOOL ADMINISTRATORS!");
        });
</script>


<div id="pageDP">
    <div class="col-md-4" id="pageGridPatient">

        @(Html.Kendo().Grid<Repo.Models.vwFlowQueueAttendance>()
                .Name("GridLab")
                .NoRecords("No patient on visit")
                .Columns(columns =>
                {
                    columns.Bound(c => c.AttCArdNumber).Title("");
                    columns.Bound(c => c.FirstName).Title("");
                    columns.ForeignKey(p => p.FQCurrentSTatus, (System.Collections.IEnumerable)ViewData["vstatus"], "Key", "Value")
                    .Title("");
                    columns.Bound(c => c.FQTimeStamp).Format("{0:dd/MM/yyyy hh:mm: tt}").Title("");
                    columns.Bound(c => c.FQLastUpdatedBy).Title("");
                })
                .ToolBar(toolbar =>
                {
                toolbar.Template(@<text>
            <div class="row">
                <div class="col-sm-4 col-md-6 toolbar">
                    @(Html.Kendo().Button()
                        .Name("iconButton")
                        .Tag("a")
                        .Icon("refresh")
                        .Content("Return to OPD")
                        .Events(e => e.Click("csonClick"))
                    //.Content("<span class='fa-share' title='Click to run process'>Send to Consulting</span>")

                    )
                </div>
            </div>
                </text>);
                })
                .Resizable(r => r.Columns(true))
                .Scrollable(sc => sc.Endless(true))
                .Sortable()
                .Selectable(selectable => selectable
                .Mode(GridSelectionMode.Single))
                .Mobile(MobileMode.Auto)
                .Pageable(p => p.Numeric(false)
                    .PreviousNext(false)
                    .Refresh(true)
                )
                .Events(ev => ev.Change("onChange"))
                .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(false)
                .ServerOperation(false)
                .PageSize(50)
                .Events(e =>
                {
                    e.Error("error_handler");
                })
                .Model(model =>
                {
                    model.Id(p => p.FQID);
                })
                .Read(read => read.Action("Read_GetLabFlowQueues", "ProcessFlow"))
                )
        )
    </div>
    <div class="col-md-8" id="scoreList">
        <div>
            <div id="labreq">
                @(Html.Kendo().Grid<Repo.DTOs.dto_LabRequest>()
                .Name("labReqGrid")
                .NoRecords("No lab test requested")
                .Columns(columns =>
                {
                    columns.Bound(c => c.Test).Title("Requested Test");
                    columns.Bound(c => c.Doctor).Title("Requested By");
                    columns.Bound(c => c.DoneBy).Title("Test Done By");
                    //columns.Command(command => { command.Destroy(); });//.Width(250);
                })
                //.Editable(editable => editable.Mode(GridEditMode.InCell))
                .AutoBind(false)
                .Resizable(r => r.Columns(true))
                .Scrollable(sc => sc.Endless(true))
                .Sortable()
                .Selectable(selectable => selectable
                .Mode(GridSelectionMode.Single))
                .Mobile(MobileMode.Auto)
                .Pageable(p => p.Numeric(false)
                    .PreviousNext(false)
                    .Refresh(true)
                )
                .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .ServerOperation(false)
                .PageSize(50)
                .Events(e =>
                {
                    e.Error("error_handler");
                })
                .Model(model =>
                {
                    model.Id(p => p.ID);
                    model.Field(p => p.Doctor).Editable(false);
                    model.Field(p => p.DoneBy).Editable(false);
                })
                    .Read(read => read.Action("LabRequest_Read", "Consultation").Data("filterLabData"))
                    .Update(update => update.Action("LabRequest_BatchUpdate", "Consultation"))
                //.Create(c => c.Action("LabRequest_Create", "Consultation").Data("filterLabData"))
                //.Destroy(d => d.Action("LabRequest_Delete", "Consultation"))
                )
                )
                <script>
                    function filterLabData() {
                        var grid = $("#GridLab").data("kendoGrid");
                        if (grid != null) {
                            var selectedItem = grid.dataItem(grid.select());
                            if (selectedItem != null) {
                                return {
                                    attId: selectedItem.AttdID
                                };
                            } else {
                                return {
                                    patientID: 0
                                };
                            }
                        }
                    };
                </script>
            </div>

        </div>
        <div>
            <textarea class="tinymce" id="texteditor"></textarea>
        </div>
    </div>

</div>

@Html.Partial("~/Views/Shared/_PartialProgressBar.cshtml")


<script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/tinymce/lab-tinymce.js"></script>
<script src="~/Scripts/appjs/lab.js"></script>
<script src="~/Scripts/custom/progressBar.js"></script>