
@{
    ViewBag.Title = "Pharmacy";
}

<script type="text/javascript">
    $(document).ready(
        function () {
            $("#txt1").html("Pharmacy");
            $("#txt2").html("(Give Doctor prescribed drugs to Patients)");
            //$("#txtWarning").html("System failure imminent, carefully change COMPUTE TYPE & CLASS HIERARCHY under strict change request, and only when agreed and advised by the SCHOOL ADMINISTRATORS!");
        });
</script>


<div id="pageDP">
    <div class="col-md-4" id="pageGridPatient">

        @(Html.Kendo().Grid<Repo.Models.vwFlowQueueAttendance>()
                .Name("GridPharm")
                .NoRecords("No patient in pharmacy found")
                .Columns(columns =>
                {
                    columns.Bound(c => c.AttCArdNumber).Title("");
                    columns.Bound(c => c.FirstName).Title("");
                    columns.ForeignKey(p => p.FQCurrentSTatus, (System.Collections.IEnumerable)ViewData["vstatus"], "Key", "Value")
                    .Title("");
                    columns.Bound(c => c.FQTimeStamp).Format("{0:dd/MM/yyyy hh:mm: tt}").Title("");
                    columns.Bound(c => c.FQLastUpdatedBy).Title("");
                })
                .ToolBar(toolbar =>
                {
                toolbar.Template(@<text>
            <div class="row">
                <div class="col-sm-4 col-md-6 toolbar">
                    @(Html.Kendo().Button()
                        .Name("iconButton")
                        .Tag("a")
                        .Icon("refresh")
                        .Content("Send to Accounts")
                        .Events(e => e.Click("csonClick"))
                        //.Content("<span class='fa-share' title='Click to run process'>Send to Consulting</span>")

                    )
                </div>
            </div>
                </text>);
                })
                .Resizable(r => r.Columns(true))
                .Scrollable(sc => sc.Endless(true))
                .Sortable()
                .Selectable(selectable => selectable
                .Mode(GridSelectionMode.Single))
                .Mobile(MobileMode.Auto)
                .Pageable(p => p.Numeric(false)
                    .PreviousNext(false)
                    .Refresh(true)
                )
                .Events(ev => ev.Change("onChange"))
                .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(false)
                .ServerOperation(false)
                .PageSize(50)
                .Events(e =>
                {
                    e.Error("error_handler");
                })
                .Model(model =>
                {
                    model.Id(p => p.FQID);
                })
                .Read(read => read.Action("Read_GetPharmacyFlowQueues", "ProcessFlow"))
                )
        )
    </div>
    <div class="col-md-8" id="scoreList">
        <div id="prescrip">
            @(Html.Kendo().Grid<Repo.DTOs.dto_Prescription>()
                .Name("PrescGrid")
                .NoRecords("No prescription found")
                .Columns(columns =>
                {
                    columns.Bound(c => c.Prescription1);
                    columns.Bound(c => c.Dose);
                    columns.Bound(c => c.Duration);
                    columns.Bound(c => c.Qty);
                    columns.Bound(c => c.DispensedBy);
                    columns.Bound(c => c.DispensedOn).Format("{0:dd/MM/yyyy hh:mm: tt}").Title("Date");
                    //columns.ForeignKey(c => c.RecordedById, (System.Collections.IEnumerable)ViewData["recBy"], "Value", "Text")
                    //.Title("Recorded By");
                    columns.Command(command => { command.Destroy(); });//.Width(250);
                })
                .ToolBar(toolbar =>
                {
                    toolbar.Create();
                    toolbar.Save();
                    toolbar.Excel();
                })
                .Editable(editable => editable.Mode(GridEditMode.InCell))
                .AutoBind(false)
                .Resizable(r => r.Columns(true))
                .Scrollable(sc => sc.Endless(true))
                .Sortable()
                .Selectable(selectable => selectable
                .Mode(GridSelectionMode.Single))
                .Mobile(MobileMode.Auto)
                .Pageable(p => p.Numeric(false)
                    .PreviousNext(false)
                    .Refresh(true)
                )
                .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .ServerOperation(false)
                .PageSize(50)
                .Events(e =>
                {
                    e.Error("error_handler");
                })
                .Model(model =>
                {
                    model.Id(p => p.ID);
                    model.Field(p => p.Dose).Editable(false);
                    model.Field(p => p.Duration).Editable(false);
                    model.Field(p => p.Qty).Editable(false);
                    model.Field(p => p.DispensedBy).Editable(false);
                    model.Field(p => p.DispensedOn).Editable(false);
                })
                    .Read(read => read.Action("Prescription_Read", "Consultation").Data("filterPreData"))
                    .Update(update => update.Action("Prescription_BatchUpdate", "Consultation"))
                    .Create(c => c.Action("Prescription_Create", "Consultation").Data("filterPreData"))
                    .Destroy(d => d.Action("Prescription_Delete", "Consultation"))
                )
            )
            <script>
                function filterPreData() {
                    var grid = $("#GridPharm").data("kendoGrid");
                    if (grid != null) {
                        var selectedItem = grid.dataItem(grid.select());
                        if (selectedItem != null) {
                            return {
                                attId: selectedItem.AttdID
                            };
                        } else {
                            return {
                                patientID: 0
                            };
                        }
                    }
                };
            </script>
        </div>

    </div>

</div>

<div class="container">
    @Html.Partial("~/Views/Shared/_PartialProgressBar.cshtml")
</div>

<script src="~/Scripts/appjs/pharmacy.js"></script>
<script src="~/Scripts/custom/progressBar.js"></script>

