

.k-notification {
                    border:thick;
                }
                
                /* Info template */
                .k-notification-info.k-group {
                    background: rgba(0%,0%,0%,.7);
                    color: #fff;
                }
                .new-mail {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 20px 20px 20px 20px;
                }
                .new-mail h3 {
                     font-size: 1.3em;
                    /*display: inline-block;*/
                    vertical-align: middle;
                }
                
                /* Error template */
                .k-notification-error.k-group {
                    background: rgba(100%,0%,0%,.7);
                    color: #ffffff;
                }
                .wrong-pass {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 20px 20px 20px 20px;
                }
                .wrong-pass h3 {
                    font-size: 1.3em;
                    /*display: inline-block;*/
                    vertical-align: middle;
                    /*padding: 32px 10px 5px;*/
                }
                
                /* Success template */
                .k-notification-upload-success.k-group {
                    /*background: rgba(0%,60%,0%,.7);
                    color: #fff;*/
                }
                /*.upload-success {
                    width: 240px;
                    height: 100px;
                    padding: 0 30px;
                    line-height: 100px;
                }*/
                .upload-success h3 {
                    font-size: 1.7em;
                    font-weight: normal;
                    display: inline-block;
                    vertical-align: middle;
                    color: white;
                }