
@{
    ViewBag.Title = "Error";
}

<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <text class="tile-title" style="font-weight:900">Ooops!!! We are sorry !</text>
    <br />
    <text class="toast-title">Something went wrong while we tried to process your request.</text>
    <br />
    <text class="">Kindly report this error to your IT Administrator.</text>
</div>

