@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Html.Partial("_errorHandler")*@


<div class="page-container">
    <div class="well">
        <h1 class="grey lighter smaller">
            <span class="blue bigger-125">
                <i class="icon-random"></i>
                @{
                    if (TempData["success"] != null)
                    {
                        @Html.Raw(Html.Encode(TempData["success"].ToString()));
                    }
                }

            </span>

        </h1>

        <div class="row">
            <div class="center">
                <div>@Html.ActionLink("Go Back", null, null, null, new { href = Request.UrlReferrer })</div>
            </div>
        </div>
    </div>
</div>

