
<div id="scoreTop" class="container-fluid left-align" style="background-color:hotpink; border-color:hotpink; color:white">

    <div class="pull-left-md list-group-item " style="background-color:hotpink; border-color:hotpink">
        <p class="" style="color:white"><span id="Tezt"></span></p>
        <h4 class="" id="Current"></h4>
    </div>
</div>

